<div class="row"> 
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11"> 
    <ul> 
        <li> 
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe sed repellendus labore expedita, suscipit ipsam? Quam at quidem veniam enim maxime? Reiciendis accusamus maxime odio alias quaerat, magni nam.</p>
    </ul>
    <ul> 
        <li> 
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe sed repellendus labore expedita, suscipit ipsam? Quam at quidem veniam enim maxime? Reiciendis accusamus maxime odio alias quaerat, magni nam.</p>
    </ul>
    <ul> 
        <li> 
            <h1>Trabajo 3</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque saepe sed repellendus labore expedita, suscipit ipsam? Quam at quidem veniam enim maxime? Reiciendis accusamus maxime odio alias quaerat, magni nam.</p>
    </ul>
</div>
</div>
