<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/DSC05031 (1).jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md- col-lg-2"> 
        <p id="nombre">Gonzalez Rangel Maria Eugenia</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md- col-lg-8"> 
        <span> 
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita eveniet deserunt error aliquam accusamus, quia obcaecati facere facilis magni quas ex perspiciatis molestias culpa quis doloribus nisi ratione repellendus?</p>
        </span>
    </div>
</div>
