<div class="row"> 
  <div class="container"> 
     <div class="logo"> 
        <img src="../../../assets/arg-programa.png" id="logoAP">
     </div>
     <div class="redes"> 
        <a href=""><img src="../../../assets/kisspng-line-angle-font-5b5921b96be2c6.6155346715325679934419.png" id="linkedin"></a>
        <a href=""><img src="../../../assets/kisspng-github-pages-logo-repository-fork-github-logo-1-magentys-5b69de71b51265.8586076615336648817417.png" id="github"></a>
        <button type="button" class="btn btn-outline-light">Ingreso</button>
    </div>
  </div>
</div>

